<div class="container">
    <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, :gravity=>"faces", :crop=>"fill", width: 80, height: 80, class: "my-6 w-16" %>
    <% end %>
<div class="space-y-4 mb-6">
    <h1 class="text-4xl fw-800">Facture reçu par : <%= @user.first_name %> <%= @user.last_name %></h1>
    <p>Date de facturation : <%= @invoice.date %></p>
    <table class="p-2 w-full">
    <tbody>
        <tr>
        <td><h4>Facture éditée par :</h4></td>
        <td class="text-right"><h4>Facture adressée à :</h4></td>
        </tr>
        <tr>
        <td><%= @user.first_name %>, <%= @user.last_name %></td>
        <td class="text-right"><%= @invoice.client.first_name %></td>
        </tr>
        <tr>
        <td><%= @user.address %></td>
        <td class="text-right"><%= @invoice.client.compagny_address %></td>
        </tr>
        <tr>
        <td><%= @user.phone %></td>
        <td class="text-right"><%= @invoice.client.compagny_siret %></td>
        </tr>
        <tr>
        <td><%= @user.email %></td>
        <td class="text-right"></td>
        </tr>
        <tr>
        <td><%= @user.siret %></td>
        <td class="text-right"></td>
        </tr>
        <tr>
        <td class="fw-700 border-top"><p><% if @user.tva != nil %></p>
        <p>N° TVA :<%= @user.tva %><br></p></td>
        <% end %>
        <td class="fw-700 text-right border-top"></td>
        </tr>
    </tbody>
    </table>
<div class="card rounded-3xl px-4 py-8 p-lg-10 mb-6">
    <h3 class="text-center"><%= @invoice.description.camelcase %></h3>
    <p class="text-center text-muted">Facture n°:  <%= @invoice.invoice_number %></p>
    <table class="p-2 w-full">
    <tbody>
        <tr>
        <td><%= @invoice.prestation %></td>
        <td class="text-right">Montant : <%= @invoice.amount %>€</td>
        </tr>
        <tr>
        <td>Taux de TVA :</td>
        <td class="text-right"><%= @invoice.invoice_tva %></td>
        </tr>
        <tr>
        <td class="fw-700 border-top">Montant TTC:</td>
        <% total_tva = (@invoice.amount * @invoice.invoice_tva.to_f) / 100 %>
        <td class="fw-700 text-right border-top"><%= total_tva + @invoice.amount %>€</td>
        </tr>
    </tbody>
    </table>
    <hr class="my-6">
    <p> Information de paiements : <%= @user.infos_payment %></p>
    <br>
    <p>Conditions de paiements : <%= @user.conditions %></p>
        <br>
        <br>
    <p>Facture générée par <a href="https://as-web.website/">AS WEB</a></p>
</div>
