<div class="container">
  <div class="bg-light p-5 rounded mt-5 mb-5">    
    <h2>Vos informations de compte (et de société)</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
      <div class="d-flex justify-content-between mt-5 mb-5">
          <%= f.input :first_name, :label => "Prénom" %>
          <%= f.input :last_name, :label => "Nom" %>
      </div>
      <div class="d-flex justify-content-between mt-5 mb-5 space-mobile">
          <%= f.input :email, required: true, autofocus: true, :label => "Mail" %>
          <%= f.input :phone, :label => "Numéro de téléphone" %>
          <%= f.input :tva, :label => "Numéro de TVA (optionnel)" %>
      </div>
      <div class="d-flex justify-content-between mt3 space-mobile">
          <%= f.input :siret, :label => "Votre numéro Siret" %>
          <%= f.input :address, :label => "Votre adresse de facturation" %>
          <%= f.input :photo, as: :file, :label => "Votre logo de facturation" %>
      </div>
      <div class="d-flex justify-content-center mt-5 mb-5 space-mobile">
        <div class="col-lg-4">
          <%= f.input :infos_payment, :label => "Indiquer votre IBAN / BIC de votre société" %>
        </div>
        <div class="col-lg-4">
          <%= f.input :conditions, :label => "Vos conditions de paiement ?" %>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-5 mb-5 space-mobile">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :password,
                      hint: "Laisser vide pour ne pas le changer",
                      required: false,
                      input_html: { autocomplete: "new-password" }, :label => "Nouveau mot de passe" %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" }, :label => "Confirmer votre mot de passe" %>
          <%= f.input :current_password,
                      hint: "Votre mot de passe actuel",
                      required: true,
                      input_html: { autocomplete: "current-password" }, :label => "Mot de passe actuel" %>
      </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Mettre à jour", class: "btn btn-success m-5" %>
      </div>
    <% end %>

    <h3>Annuler mon compte</h3>

    <p>Supprimer vos informations ? <br><br>
    <%= link_to "Suprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p><br><br>

    <%= link_to "Retour", :back %>
    </div>
</div>