<style>
.card-header{
  background-color: transparent;

}
#taille{
  height: 100px!important;
}
.card {
    border-radius: 10px;
    height: auto!important;
}
/* button.btn.btn-danger {
    padding: 3px;
}
a.btn.btn-primary {
    padding: 3px;
}
a.btn.btn-success {
    padding: 3px;
} */
</style>


<div class="container p-5">
<div class="d-flex flex-wrap">
    <% @invoices.reverse_each do |invoice| %>
      <div class="cardingspace">
        <% if invoice.user_id == current_user.id %>
          <div class="card text-center m-1">
            <div class="card-header">
              Facture N°:  <%= invoice.invoice_number %>
            </div>
            <div class="card-body">
              <h4 class="card-title">Facture à : <%= invoice.client.first_name %></h4>
              <p class="card-text"><%= invoice.description %><br></p>
              <b> Total :</b>
                <% total_tva = (invoice.amount * invoice.invoice_tva.to_f) / 100 %>
                <%= total_tva + invoice.amount %>€ TTC</p>
              <div class="d-flex justify-content-between spacing-mob">
                <a href="/invoices/<%= invoice.id %>" class: "btn btn-primary"> Aperçu <\a>
                <%= button_to "Supprimer", invoice, method: :delete, class: "btn btn-danger" %>
                <% if invoice.status == false %>
                <%= link_to "Envoyer", send_mail_path(invoice), class: "btn btn-success" %>
                <% end %>
              </div>
            </div>
            <% if invoice.status == true %>
                <p class="mt-3" style="color: green;"><b>Facture envoyée</b></p>
            <% else %>
                <p class="mt-3" style="color: red;"><b>Facture non envoyée</b></p>
            <% end %>
            <div class="card-footer text-muted">
              Facture créée le : <%= invoice.created_at %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
