<style>
.card-header{
  background-color: transparent;

}
#taille{
  height: 100px!important;
}
.card {
    border-radius: 10px;
    height: auto!important;
}
</style>


<div class="container p-5">
  <% @invoices.each do |invoice| %>
    <% if invoice.user_id == current_user.id %>
      <div class="card text-center">
        <div class="card-header">
          Facture n°:  <%= invoice.invoice_number %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Facture pour : <%= invoice.customer_name %></h5>
          <p class="card-text"><%= invoice.description %>,<b> Total de votre facture :</b>
            <% total_tva = (invoice.amount * invoice.invoice_tva) / 100 %>
              <%= total_tva + invoice.amount %>€</p></p>
          <%= link_to "Voir la facture", invoice_path(invoice), class: "btn btn-primary" %>
        </div>
        <div class="card-footer text-muted">
        Facture créée le : <%= invoice.created_at %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
