<style>
.footer.mt-5 {
    display: none;
}
</style>

<div class="container" data-controller="toggle">  
  <p style="color: green"><%= notice %></p>

  <h1>Vos factures</h1>
  <div class="d-flex justify-content-center">
    <button data-action="click->toggle#toggle" class="btn btn-primary m-2">
      <i class="bi bi-list"></i> Menu
    </button>
  </div>

  <div id="sidebar" class="sidebar" data-toggle-target="menu">
    <button data-action="click->toggle#disable" class="btn btn-close m-2">
      <i class="bi bi-x"></i>
    </button>
    <div class="d-flex flex-column align-items-start">
      <%#= link_to "Tableau de bord", dashboards_show_path, class: "btn btn-danger m-2" %>
      <%= link_to "Factures enregistrées", cloudinary_invoices_invoices_path, class: "btn btn-dark m-2" %>
      <%= link_to "Nouvelle facture", new_invoice_path, class:"btn btn-success m-2 text-white" %>
      <%= link_to "Mes clients", clients_path, class:"btn btn-info m-2 text-white" %>
      <%= link_to "Mes devis", quotes_path, class:"btn btn-primary m-2 text-white" %>
    </div>
  </div>

  <%# <div id="overlay" class="overlay" data-action="click->toggle#toggle"></div> %>

  <% if current_user.infos_payment == nil || current_user.conditions == nil %>
    <br><br>
    <p style="color: red;"> Vous n'avez pas configuré votre compte de facturation. <%= link_to "Cliquez ici", edit_user_registration_path %> pour le faire.</p>
  <% end %>

  <div id="invoices">
    <%= render "invoice" %>
  </div>
</div>