<div class="container">  
  <p style="color: green"><%= notice %></p>

  <%= render @coordinate %>

  <div>
    <%= link_to "Modifier mes coordonnées", edit_coordinate_path(@coordinate) %> |
    <%= link_to "Voir la position sur une carte", coordinates_path, class: 'btn btn-primary m-3' %>

    <%= button_to "Supprimer mon test", @coordinate, method: :delete, class: "btn btn-danger" %>
  </div>
</div>