<div class="row row-cols-2 row-cols-md-3 g-4">
  <div class="col">
    <div class="card m-3">
      <img src="https://images.unsplash.com/photo-1649209979970-f01d950cc5ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3282&q=80" class="card-img-top" alt="générateur de texte lorum ipsum">
      <div class="card-body">
        <h5 class="card-title"> <%= link_to "Outil de facturation", invoices_path %></h5>
        <p class="card-text">Créer et sauvegarder vos factures sur votre espace ! Exporter en pdf vos factures pour les envoyer à vos clients. Configurer votre compte et le tour est joué !</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card m-3">
      <img src="https://images.unsplash.com/photo-1642013352168-ccb46a0ac67f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2342&q=80" class="card-img-top" alt="illustration emoji">
      <div class="card-body">
        <h5 class="card-title"><%= link_to "Récupérer les points gps d'une adresse", coordinates_path %></h5>
        <p class="card-text">Récupérer vos coordonnées gps à partir d'une adresse donnée. API gratuite, système de mapping pour vérifier votre adresse.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card m-3">
      <img src="https://images.unsplash.com/photo-1541929866681-94eb7c9a4c7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2606&q=80" class="card-img-top" alt="generateur de mot de passe">
      <div class="card-body">
        <h5 class="card-title"> <%= link_to "Générateur de mot de passe", mot_de_passe_path %></h5>
        <p class="card-text">Générateur de mot de passe fiable et robuste. Fini les mots passes crackables.</p>
      </div>
    </div>
  </div>
  <!--<div id="outils" class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>-->
</div>
<div class="row row-cols-2 row-cols-md-3 g-4">
  <div class="col">
    <div class="card m-3">
      <img src="https://images.unsplash.com/photo-1560305527-51dc8ad5a8f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1557&q=80" class="card-img-top" alt="générateur de texte lorum ipsum">
      <div class="card-body">
        <h5 class="card-title"> <%= link_to "Générateur de texte", lorum_path %></h5>
        <p class="card-text">Générer du texte Lorum Ipsum pour illustrer vos contenus, vos makets ou vos présentations de design de site internet</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card m-3">
      <img src="https://images.unsplash.com/photo-1587483166702-bf9aa66bd791?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="card-img-top" alt="illustration emoji">
      <div class="card-body">
        <h5 class="card-title"><%= link_to "Générer émoji", emojis_path %></h5>
        <p class="card-text">Code emoji à ✂ Copier 📋 Coller pour Facebook, Site web, forums ... ✨ Nouveau ✨</p>
      </div>
    </div>
  </div>