<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="navbar-brand">
    <%= link_to root_path do %>
      <%= image_tag "https://as-web.website/wp-content/uploads/2022/02/Logo-AlexStephan-AS-web.png", alt: "logo AS WEB", width: "200px" %>
    <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <%= link_to "Accueil", "/", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Facturation
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%#= link_to "Dashboard", dashboards_show_path, class: "dropdown-item" %></li>
              <li><%= link_to "Toutes mes factures", "/invoices", class: "dropdown-item" %></li>
              <li><%= link_to "Factures enregistrées", "/invoices/cloudinary_invoices", class: "dropdown-item", data: { turbo: false } %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Nouvelle facture", new_invoice_path, class: "dropdown-item" %></li>
              <li><%= link_to "Nouveau devis", new_quote_path, class: "dropdown-item" %></li>
            </ul>
          </li>
          <li class="nav-item active">
            <%= link_to "Blog", "https://as-web.website/blog", class: "nav-link", target: "_blank" %>
          </li>
          <% if current_user != nil %>
          <% if current_user.photo.attached? %>
            <span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><%= cl_image_tag current_user.photo.key, width: 40, height: 40, crop: :fill, :gravity=> "face", class: "rounded" %></span>
            <% else %>
            <span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img style="width: 40px; height: 40px; border-radius: 100px;" src="https://res.cloudinary.com/hello-my-business/image/upload/v1671101861/Screenshot_2022-12-15_at_11.56.59-removebg-preview_mfdlge.png"></span>
            <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Modifier mon profil", edit_user_registration_path, class: "dropdown-item" %></li>
            <li><%= link_to "Déconnexion", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %></li>
          </ul>
          <% end %>
      </ul>
    </div>
  </div>
</div>
