<div class="container">
    <div class="d-flex">
        <%= link_to "Ajouter un client", new_client_path, class: "btn btn-primary m-1" %>
        <%= link_to "Retour à mes factures", invoices_path, class: "btn btn-dark m-1" %>
    </div>
    <div class="d-flex flex-wrap">
        <% @clients.each do |client| %>
            <div class="clients-cards col-lg-3 col-12 p-4">
                <% if client.user == current_user %><br>
                    <%= client.first_name %><br>
                    <%= client.last_name %><br>
                    <%= client.compagny_siret %><br>
                    <%= client.compagny_address %><br>
                    <%= client.phone %><br>
                    <%= client.email %><br><br>
                    <div class="d-flex justify-content-between">
                        <%= link_to "Modifier", edit_client_path(client), class: "btn btn-ghost" %>
                        <%= button_to "Supprimer", client, method: :delete, class: "btn btn-flat" %>
                    </div>
            <% end %>
            </div>
        <% end %>
    </div>
</div>