<meta name="description" content="Copier / Collez des émojis facebook, twitter, instagram ou encore pour vos applications web HTML">

<%= render "/shared/banner" %>

<div data-controller="toast-boostrap" class="container mt-5"> 
    <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Smileys et personnes
        </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"><%= render "smileys" %></div>
    </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Animaux
        </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"><%= render "animaux" %></div>
    </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Nourriture
        </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"><%= render "nourriture" %></div>
        </div>
    </div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" id="liveToastBtn">Véhicules</button>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Véhicules</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
         <%= render 'vehicules' %>
        </div>
    </div>
    </div>
    <button type="button" class="btn btn-primary" id="liveToastBtn2">Informatique</button>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast2" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Informatique</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
         <%= render 'informatique' %>
        </div>
    </div>
    </div>
     <button type="button" class="btn btn-primary" id="liveToastBtn3">Drapaux</button>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast3" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Drapaux©©</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
         <%= render 'drapaux' %>
        </div>
    </div>
    </div>
     <button type="button" class="btn btn-primary" id="liveToastBtn4">Divers</button>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast4" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Divers</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
         <%= render 'divers' %>
        </div>
    </div>
    </div>
</div>