<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>As WEB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'https://cdn-ekgln.nitrocdn.com/GlDLxyAyYnwHshzcxxARByrCvHfVFERb/assets/static/optimized/rev-2b235a5/wp-content/uploads/2022/02/Logo-AlexStephan-AS-web.png' %>
    <%# search console %>
      <meta name="google-site-verification" content="i89kFey0Aw94cfPYBEyn3icGq-01dOEwYIarFQynOPg" />
    <%# end %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= render "/shared/navbar" %>
  </head>

  <body>
    <%= yield %>
  <%= render "shared/footer" %>
  </body>
</html>
