<!DOCTYPE html>
<html lang="fr">
<head>
  <title>As WEB</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="https://as-web.website/wp-content/uploads/2022/02/Group-1-1.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <%= render 'layouts/google' %>
</head>
<body data-turbo-suppress-warning="">
  <%= render '/shared/navbar' %>
  <%= render 'shared/flashes' %>
  <%= yield %>
  <%= render "shared/footer" %>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" defer crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" defer crossorigin="anonymous"></script>
</body>
</html>
